.author {
  font-style: italic;
  font-weight: bold;
  text-align: right;
}
.btn{
  margin: 10px;
}
.card{
  margin: 20px;
}
.action{
  text-align: center;
  color: #777777;
  font-size: 20px;
}

.card-body{
  text-align: center;
  color: #ffffff;
}
form{
  margin: 30px;
  padding: 20px;
  background-color: rgba(51, 153, 255, 0.5);
  width: 90%;
  border-radius: 10px;
}
label{
  font-weight: bold;
  letter-spacing: 2px;
}
.cancel-form{
  text-align: right;
}
.form-btn{
  margin-left: auto;
  margin-right: auto;
}

.card:nth-child(4n-3) {
  background-color: #0088ff;
}
.card:nth-child(4n-2) {
  background-color: #ffaa00;
}
.card:nth-child(4n-1) {
  background-color: #ff7700;
}
.card:nth-child(4n+0) {
  background-color: #ff0033;
}
.card:nth-child(5n+0) {
  background-color: #9911aa;
}
.card:nth-child(6n+0) {
  background-color: #aadd22;
}
