<button (click) ="openForm()" class="btn btn-primary">Post a new quote</button>
<form id="quote-form">

  <div class="form-group">
  <label for="quoteInput">Quote</label>
  <textarea id="quoteInput" class="form-control" placeholder="Write your quote here" rows="6" required></textarea>
  </div>

  <div class="form-group">
    <label for="quoteAuthor">Author</label>
    <input id="quoteAuthor" type="text" class="form-control" placeholder="Quote Author">
  </div>

  <div class="form-group">
    <label for="quotePoster">Poster</label>
    <input id="quotePoster" type="text" class="form-control" placeholder="Your Name" required>
  </div>

  <button type="submit" class="btn btn-primary">Post</button>
</form>
